<div class="main">
  <div class="container">
    <!--animate__animated wow animate__jackInTheBox  animate__backInUp-->
    <section class="main-container animate__animated wow animate__backInUp">
      <div class="main-title animate__animated animate__backInLeft">
        <h1 class=" main-title__text">Эксклюзивный листовой чай
        </h1>
        <span class="cursive">с разных уголков планеты</span>
      </div>


      <div class="main-info">
        <div class="main-info__content">
          <div class="main-info__title">У нас вы сможете найти чай
            со всего мира, самых
            невообразимых вкусов
            и ароматов
          </div>
          <div class="main-info__description">
            <p class="main-info__text">Чайные листочки мы собираем столько раз в году, сколько раз чай
              вегетирует – то есть, дает новые
              побеги с листочками. В Индонезии, Шри-Ланке, Кении, на юге Индии и Китая, где всегда лето –
              круглый
              год. Чем дальше на север расположены плантации, тем меньше сезон сбора чая – в
              северо-восточной
              Индии он продолжается восемь месяцев, на севере Китая чайные листья собирают не более
              четырех
              раз в
              году, с апреля по сентябрь</p>
            <p class="main-info__text mobile-hidden">Мы собираем чай вручную, обрывая не все листья, а лишь
              несколько
              самых молодых и сочных листочков
              с
              частью стебелька, на котором они укреплены, и так называемую почку (или типс) –
              нераспустившийся
              листок на кончике побега. Всё для того, чтобы вы пили только самый вкусный и свежий чай!
            </p>
            <a href="#" class="read-more">Узнать больше</a>
          </div>
        </div>
      </div>
    </section>

    <section class="quality animate__animated wow animate__jackInTheBox">

      <div class="container quality__container">

        <img class="img-leaf" src="assets/images/картинка_лист.png" alt="Листик">
        <img class="img-0range" src="assets/images/картинка_апельсин.png" alt="апельсинно">

        <div class="quality__title">

          <h2 class="subtitle">6 качеств нашего чая,</h2>
          <span class="cursive dark-cursive">которые вы оцените</span>
        </div>
        <div class="quality__content">
          <div class="quality__content-item">
            <img class="quality__content-image" src="assets/images/quality_1.png" alt="">
            <div class="quality__content-description">
              <p class="quality__content-description_text">Подавляет рост злокачественных опухолей, и
                существенно
                снижает риск перерождения клеток в раковые</p>
            </div>
          </div>
          <div class="quality__content-item right">
            <img class="quality__content-image" src="assets/images/quality_2.png" alt="">
            <div class="quality__content-description">
              <p class="quality__content-description_text">Нормализует деятельность сердца, кровеносных
                сосудов,
                пищеварительной системы</p>
            </div>
          </div>
          <div class="quality__content-item">
            <img class="quality__content-image" src="assets/images/quality_3.png" alt="">
            <div class="quality__content-description">
              <p class="quality__content-description_text">Эффективно предотвращает
                кариес</p>
            </div>
          </div>
          <div class="quality__content-item right">
            <img class="quality__content-image" src="assets/images/quality_4.png" alt="">
            <div class="quality__content-description">
              <p class="quality__content-description_text">Богат полезными
                микроэлементами</p>
            </div>
          </div>
          <div class="quality__content-item">
            <img class="quality__content-image" src="assets/images/quality_5.png" alt="">
            <div class="quality__content-description">
              <p class="quality__content-description_text">Бодрит дух, повышает активность мозга, улучшает
                память</p>
            </div>
          </div>
          <div class="quality__content-item right">
            <img class="quality__content-image" src="assets/images/quality_6.png" alt="">
            <div class="quality__content-description">
              <p class="quality__content-description_text">Снимает усталость и стимулирует
                обмен веществ</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <section class="weHave ">
    <div class="container weHave__container ">

      <div class="weHave__info">
        <div class="weHave__info-left">
          <div class="weHave__image">
            <img src="assets/images/листики-копия.png" alt="Чай" class="tea-big">
          </div>
          <div class="weHave__text">
            <h4 class="weHave__text-title">Качественный и свежий чай</h4>
            <p class="weHave__text-description">Мы завариваем и дегустируем чай снова и снова, пока не
              найдем идеальный вкус, поэтому в нашем каталоге собраны только лучшие сорта с самых
              известных плантаций мира</p>
          </div>
        </div>
        <div class="weHave__info-right">
          <div class="main-title main-title-weHave">
            <h1 class="main-title__text-weHave">У нас вы найдете
            </h1>
            <span class="cursive cursive-weHave">все необходимое</span>
          </div>
          <div class="weHave__text">
            <h4 class="weHave__text-title">Эксклюзивные чайные миксы</h4>
            <p class="weHave__text-description">Попробуйте наши миксы, созданные на основе кулинарных
              тенденций, миксологии и вдохновения</p>
          </div>
          <div class="weHave__text">
            <h4 class="weHave__text-title">Чайные аксессуары</h4>
            <p class="weHave__text-description">У нас вы найдете всю необходимую посуду для правильного
              хранения, заваривания и подачи чая</p>
          </div>
          <div class="weHave__text">
            <h4 class="weHave__text-title">Подарочные наборы</h4>
            <p class="weHave__text-description">Мы соберем в красивую упаковку именной подарочный набор для
              ваших близких, чтобы они могли по достоинству оценить вашу заботу и все вкусовые качества
              нашего чая</p>
          </div>
          <div class="image__lime">
            <img src="assets/images/лимон--rt.png" alt="лимон" class="lime">
          </div>
        </div>

      </div>
    </div>
  </section>

  <div class="container">
    <section class="review ">
      <div class="review__title">
        <h2 class="subtitle subtitle-review">За нас все скажут
          наши клинты</h2>
      </div>
      <reviews-slider></reviews-slider>
    </section>
    <section class="contact">
      <div class="contact__image animate__animated wow animate__slideInLeft">
        <img class="contact__image-kettle" src="assets/images/kettle.png" alt="Чайник">
      </div>
      <div class="contact__info">
        <h2 class="subtitle contact__info-subtitle animate__animated wow animate__backInDown">Контактная
          информация</h2>
        <p class="contact__info-subtitle-small animate__animated wow  animate__backInUp" data-wow-delay="0.1s">
          Пункты самовывоза:</p>
        <div class="contact__info-location animate__animated wow  animate__backInUp" data-wow-delay="0.2s">
          <img class="contact__info-location-icon" src="assets/images/location.png" alt="Локация">
          <p class="contact__info-text">г. Минск, ул. Озерная, 5</p>
        </div>
        <div class="contact__info-location animate__animated wow  animate__backInUp" data-wow-delay="0.3s">
          <img class="contact__info-location-icon" src="assets/images/location.png" alt="Локация">
          <p class="contact__info-text">г. Минск, ТЦ «Метрополь», 2 этаж</p>
        </div>
        <div class="contact__info-location animate__animated wow  animate__backInUp" data-wow-delay="0.4s">
          <img class="contact__info-location-icon" src="assets/images/location.png" alt="Локация">
          <p class="contact__info-text">г. Минск, пр-т Некрасова, 25</p>
        </div>
        <div class="contact__info-timeWork animate__animated wow  animate__backInUp" data-wow-delay="0.5s">
          <p class="contact__info-text info-timeWork">Пн-Пт с 10:00 до 20:00</p>
          <p class="contact__info-text info-timeWork">Сб-Вс с 10:00 до 18:00</p>
        </div>
        <p class="contact__info-subtitle-small animate__animated wow  animate__backInUp" data-wow-delay="0.6s">
          Телефоны:</p>
        <p class="contact__info-text info-phone animate__animated wow  animate__backInUp" data-wow-delay="0.7s">
          +375 (29) 384-66-76</p>
        <p class="contact__info-text info-phone animate__animated wow  animate__backInUp" data-wow-delay="0.8s">
          +375 (44) 584-76-86</p>
      </div>
      <div class="contact__image-tea animate__animated wow animate__slideInRight"></div>
    </section>
  </div>



  <!--  <script src="node_modules/jquery/dist/jquery.min.js"></script>-->
  <!--  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.6/jquery.inputmask.min.js"></script>-->
  <!--  <script src="src/scripts/jquery.magnific-popup.min.js"></script>-->
  <!--  <script src="src/scripts/slick.min.js"></script>-->
  <!--  <script src="node_modules/wow.js/dist/wow.min.js"></script>-->
  <!--  <script src="src/scripts/script.js"></script>-->
</div>


