.subtitle-catalog {
  color: rgb(25, 25, 23);
  margin-top: 40px;
}

.container-cards {
  padding: 80px 0 100px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  justify-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
  padding-bottom: 2rem;
  background-color: #A9ADA4;

  .card__item-image {
    .card-image__scattering {
      max-width: 300px;
      height: 100%;
    }
  }

  .card__item-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .card-info__title {
      font-size: 24px;
      font-family: "Bebas Neue", sans-serif;
      line-height: 1.208;
      max-width: 300px;
      color: rgb(25, 25, 23);
      margin-top: 20px;
    }

    .button-card {
      width: 160px;
      margin-top: 10px;
      cursor: pointer;
    }
  }
}

//Adaptive
@media (max-width: 769px) {
  .container-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 638px){
  .container-cards {
    grid-template-columns: repeat(1, 1fr);
    gap: 1fr;
  }
}


