<div class="header__background">
</div>
<div class="container">
  <div class="header">
    <div class="header__logo">
      <img class="logo-image" src="../../../../assets/images/logo.png" alt="логотип">
    </div>

    <nav class="header__nav">
      <ul class="header__menu" id="menu" [class.active]="isMenuOpen">
        <li class="header__menu-item" id="aboutUs">
          <a routerLink="/" class="header__menu-link" (click)="closeMenu()">Главная</a>
        </li>
        <li class="header__menu-item" id="usAssortment">
          <a routerLink="catalog" class="header__menu-link" (click)="closeMenu()">Каталог</a>
        </li>
      </ul>
    </nav>

    <div class="header__burger" (click)="toggleMenu()" [class.active]="isMenuOpen">
      <span></span>
      <span></span>
      <span></span>
    </div>

    <div class="header__overlay" (click)="closeMenu()" [class.active]="isMenuOpen"></div>
  </div>
</div>
