.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  animation: fadeIn 0.3s ease;
}

.popup-content {
  margin: 0 10px;
  background: #A9ADA4;
  padding: 2rem;
  max-width: 600px;
  height: auto;
  position: relative;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  animation: slideUp 0.3s ease;
}

//крестик выхода
.popup-close {
  position: absolute;
  top: 3px;
  right: 10px;
  font-size: 32px;
  cursor: pointer;
  color: #666;
  transition: color 0.3s;

  &:hover {
    color: #333;
  }
}

.popup-body {
  text-align: center;
}

.popup-title {
  font-size: 35px;
  font-family: "Bebas Neue", sans-serif;
  color: rgb(25, 25, 23);
  line-height: 1.143;
  font-weight: 400;
}

.popup-text {
  font-size: 18px;
  font-family: "eurofurence light", sans-serif;
  color: rgb(25, 25, 23);
  line-height: 1.278;
}

.popup-button {
  margin-top: 1rem;
  width: 160px;
}

