<footer class="footer">
  <div class="container">
    <div class="footer__container">
      <div class="footer__logo">
        <img class="logo-image" src="../../../../assets/images/logo.png" alt="логотип">
      </div>
      <div class="footer__other-content">
        <div class="footer__social">
          <p class="footer__social-text">Соц. сети:</p>
          <div class="footer__social-icons">
            <a class="social-link" href="#"><img class="social-icon" src="../../../../assets/images/instagram.png"
                                                 alt="Иконка"></a>
            <a class="social-link" href="#"><img class="social-icon" src="../../../../assets/images/vk-reproductor.png"
                                                 alt="Иконка"></a>
            <a class="social-link" href="#"> <img class="social-icon" src="../../../../assets/images/youtube.png"
                                                  alt="Иконка"></a>
          </div>
        </div>
        <p class="сopyright">
          Все права защищены, 2020
        </p>
      </div>
    </div>
  </div>
</footer>
