* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Bebas Neue";
  src: url("./assets/fonts/BebasNeue Book.ttf");
}

@font-face {
  font-family: "eurofurence light";
  src: url("./assets/fonts/eurofurence-light.ttf");
}

@font-face {
  font-family: "TheArtist Script";
  src: url("./assets/fonts/MADE TheArtist Script PERSONAL USE.otf");
}


/*Общие стили*/
.container {
  max-width: 1110px;
  margin: 0 auto;
}

body {
  font-family: "eurofurence light", sans-serif;
  letter-spacing: 2px;
  font-weight: 400;
  background: rgb(229, 228, 224);
}

.main {
  position: relative;
}

.button {
  padding: 13px 0;
  border: 1px solid #0b0b0b;
  background-color: white;
  //text
  font-family: "eurofurence light", sans-serif;
  line-height: 1;
  letter-spacing: 1px;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  color: rgb(24, 24, 22);

  &:hover {
    background-color: rgba(255, 255, 255, 0.7);
  }

}

.cursive {
  font-family: "TheArtist Script", sans-serif;
  color: rgb(255, 255, 255);
  font-size: 60px;
}

.subtitle {
  font-weight: 100;
  letter-spacing: 8px;
  font-size: 55px;
  font-family: "Bebas Neue", sans-serif;
  color: rgb(25, 25, 23);
  line-height: 1.091;
  text-align: center;
}

